.third-component {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.third-component-mobile {
    position: absolute;
    height: 100%;
}

@media (max-width: 3072px) {

    .third-component-imagess {
        animation: nudge 10s linear infinite;
    }

    .third-component-imagess-reverse {
        animation: nudge 10s linear infinite reverse;
    }
}

@keyframes nudge {
    0% {
        transform: translatex(-100%);
    }

    100% {
        transform: translatex(100vw);
    }

}